// Custom styles.
body{
	background: url(https://cdn.jsdelivr.net/gh/frontendsophie/hexo-theme-autumn@1.0.0/source/img/button-bg.png) ;
}

.headband {
    height: 1px;
    background: #005b9f;
}

.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #0288d1;
}

.site-subtitle {
    font-size: 13px;
    color: #f1f1f1;
}

.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 26px;
    font-weight: 400;
    font-family: Yesteryear,'Noto Sans CJK SC',"PingFang SC","Microsoft YaHei",sans-serif;
}
